<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>${project.name} Documentation</title>
</head>

<body>
<section name="Core Documentation">
    <p>This core documentation is <strong>in progress</strong> as part of
        the OpenICF project.</p>

    <p>For Release documentation see the
        <a href="https://backstage.forgerock.com/#!/docs/openicf">ForgeRock BackStage</a> website.</p>
    <dl>
        <dt>Installation Guide</dt>
        <dd>
            #set ($documentName = "${project.artifactId}")
            #set ($cache = [])
            #foreach( $item in ${StringUtils.split(${documentName}, "-")} )
                #if ($cache.add( $StringUtils.capitalizeFirstLetter($StringUtils.lowerCase($item)) )) #end
            #end
            #set ($documentName = $StringUtils.join($cache.iterator(), "-"))
            
            <a href="./doc/bootstrap/${project.artifactId}-${project.version}/index.html">HTML</a>,
            <a href="./doc/OpenICF-${project.version}-${documentName}-${project.version}.pdf">PDF</a>,
        </dd>
    </dl>
</section>
</body>

</html>


