<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>${project.name}</title>
</head>

<body>
<script type="text/javascript">
    $(document).ready(function () {
        $(location).attr('href', 'openicf-report.html');
    });
</script>
</body>

</html>
